.container {
    margin: 16px;
    display: flex;
    flex-direction: column;
    border: solid 2px;
}

/* .game-table-section {
    margin: 16px;
    color: brown;
}

.game-section {
}

.game-description-section {
    direction: rtl;
} */