.container-fluid {
    border: sandybrown solid 1px;
    padding: 10px;
}

.row .col {
    border: 1px solid salmon;
    padding: 2px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 10px;
    margin: 20px;
    background-image: url('');
    background-repeat: no-repeat;
}

h4 {
    padding: 10px;
    margin: 20px;
    margin-right: 1rem;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    object-fit: cover;
    margin: 20px;
    object-fit: cover;
    background-color: gray;
}

p {
    width: 300px;
    height: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overscroll-behavior-y: contain;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 
    "header header header header header header header"
    "sidebar main main main main main description"
    "sidebar main main main main main description"
    "footer footer footer footer footer footer footer";
}

.item {
    background-color: bisque;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
    width: auto;
    align-self: start;
    position: sticky;
    top: 1rem;
}

.main {
    grid-area: main;
}

.description {
    grid-area: description;
}

.footer {
    grid-area: footer;
}

.containerItem {
    padding: 10px;
}

.gameList {
    background-color: aliceblue;
    text-align: center;
    flex: 1 0 auto;
}

a {
    display: inline-block;
    padding: 20px 0 20px 0;
}

.game {
    background-color: beige;
    flex: 5 1 auto;
}

.gameDescription {
    background-color: azure;
    flex: 2 1 auto;
}
