h1 {
    text-align: center;
}

.container {
    display: flex;
}

.containerItem {
    padding: 10px;
}

.gameList {
    background-color: aliceblue;
    text-align: center;
    flex: 1 0 auto;
}

a {
    display: inline-block;
    padding: 20px 0 20px 0;
}

.game {
    background-color: beige;
    flex: 5 1 auto;
}

.gameDescription {
    background-color: azure;
    flex: 2 1 auto;
}

h4 {
    text-align: center;
}

